<nav class="d-flex justify-content-end me-3">
  <div class="page-number d-flex justify-content-center align-items-center me-3" style="min-width: 80px">
    <span class="font-weight-bold">Сторінка {{ page() }} з {{ getTotal() }}</span>
  </div>

  <ul class="pagination">
    <li class="page-item" [class.disabled]="this.navigation.currentPage() === 1" (click)="setPreviousPage()">
      <a class="page-link">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" [class.disabled]="checkPrevious()" (click)="setNextPage()">
      <a class="page-link">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>