<div class="container my-5">
  <h2 class="mb-4">Коротка інформація</h2>

  <div class="mb-5">
    <h4 class="mb-3">Метрики по місяцях</h4>

    <div class="row g-4">
      <app-information-card></app-information-card>
      <app-information-card></app-information-card>
      <app-information-card></app-information-card>
    </div>
  </div>

  <div class="row g-4">
    <div class="col-md-4 mb-4">
      <app-top-card></app-top-card>
    </div>
    <div class="col-md-4 mb-4">
      <app-top-card></app-top-card>
    </div>
    <div class="col-md-4 mb-4">
      <app-top-card></app-top-card>
    </div>
  </div>
</div>
