<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Користувач <span class="bi bi-filter-circle"></span></th>
      <th scope="col">Дата видачі <span class="bi bi-filter-circle"></span></th>
      <th scope="col">
        Дата повернення <span class="bi bi-filter-circle"></span>
      </th>
      <th scope="col">
        Фактична дата повернення <span class="bi bi-filter-circle"></span>
      </th>
      <th scope="col">
        Сума кредиту
        <span class="bi bi-filter-circle"></span>
      </th>
      <th scope="col">
        Процентная ставка<span class="bi bi-filter-circle"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>pageantrylamentable</td>
      <td>2020-01-11</td>
      <td>2020-01-25</td>
      <td>2021-04-23</td>
      <td>4500</td>
      <td>32535.0</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>pageantrylamentable</td>
      <td>2020-01-11</td>
      <td>2020-01-25</td>
      <td>2021-04-23</td>
      <td>4500</td>
      <td>32535.0</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>pageantrylamentable</td>
      <td>2020-01-11</td>
      <td>2020-01-25</td>
      <td>2021-04-23</td>
      <td>4500</td>
      <td>32535.0</td>
    </tr>
  </tbody>
</table>
