<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Користувач <span class="bi bi-filter-circle"></span></th>
      <th scope="col">Дата видачі <span class="bi bi-filter-circle"></span></th>
      <th scope="col">
        Дата повернення <span class="bi bi-filter-circle"></span>
      </th>
      <th scope="col">
        Фактична дата повернення <span class="bi bi-filter-circle"></span>
      </th>
      <th scope="col">
        Сума кредиту
        <span class="bi bi-filter-circle"></span>
      </th>
      <th scope="col">
        Процентная ставка<span class="bi bi-filter-circle"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (user of creditData.filteredUser(); track user.id) {
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.user }}</td>
      <td>{{ user.issuance_date }}</td>
      <td>{{ user.return_date }}</td>
      <td>{{ user.actual_return_date }}</td>
      <td>{{ user.body }}</td>
      <td>{{ user.percent }}</td>
    </tr>
    }
  </tbody>
</table>
