<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Користувач </th>
      <th scope="col">Дата видачі </th>
      <th scope="col">
        Дата повернення
      </th>
      <th scope="col">
        Фактична дата повернення
      </th>
      <th scope="col">
        Сума кредиту

      </th>
      <th scope="col">
        Процентная ставка
      </th>
    </tr>
  </thead>
  <tbody>
    @for (user of getPaginatedData(); track user.id) {
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.user }}</td>
      <td>{{ user.issuance_date }}</td>
      <td>{{ user.return_date }}</td>
      <td>{{ user.actual_return_date }}</td>
      <td>{{ user.body }}</td>
      <td>{{ user.percent }}</td>
    </tr>
    }
  </tbody>
</table>